.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon

dist
public/dist
public/dist/shortly-express.js
public/dist/shortly-express.min.js
node_modules/

# Floobits
.floo
.floobit
.floo
.flooignore
